.buy-page {
	margin-left: 10%;
	@apply
		h-full
		flex-1
}


.buy-page .card {
	box-shadow: 0px 0px 50px rgba(0,0,0,0.6);
	background-color: #FCFAF9;
	color: #46403B;
	/* margin-right: 15px; */
	@apply
		+xs:rounded-card
		flex flex-col
		relative overflow-auto
}

.buy-page .card-body {
	@apply
		flex flex-col
		flex-1
}

.buy-page .input-root{
	background-color:#EEEAE6;
}
.buy-page .form {
	
	@apply
		flex flex-col 
}

.buy-page .form-item {
	@apply
		flex flex-col
}

.buy-page .form-item > label, .buy-page .form-item > span {
	@apply
		text-sm mb-2
}

.buy-page .total-tiered-bonus {
	@apply
		ml-auto
		text-sm
		px-1.5
		py-0.5
		bg-background-contrast
		rounded
}

/* .bonus-list {
	@apply
		flex flex-col
		py-2
		px-4
		bg-background-contrast
		rounded-item
} */

.bonus-list.loading .bonus-item {
	@apply
		py-1
}

.bonus-item {
	@apply
		flex
}

.bonus-item .bonus-label {
}

.bonus-item .bonus-percent {
	@apply
		ml-auto
}

.bonus-item .bonus-usd {
	@apply
		text-right
		ml-2
		min-w-20
}

.bonus-item.total {
	@apply
		relative
		flex-1
		pr-2
}

.bonus-item.total .bonus-percent, .bonus-item.total .bonus-usd {
	@apply
		text-success-light
		font-semibold
}

.currency-display-item {
	background-color: white;
	@apply
		py-2
		px-4
		flex
		items-center
		justify-start
		h-full
		rounded-r-item
		w-33
}

.currency-display-item .currency-image-container {
	@apply
		relative
		flex
}

.currency-display-item .currency-image {
	@apply
		!m-auto
		w-8 h-8
		!rounded-full
		object-cover object-center
}

.currency-display-item .currency-display-item {
	@apply
		flex
		items-center justify-center
		h-8
		w-8
		object-center
		object-cover
		rounded-full
}

.currency-display-item .chain-chip {
	display: none;
	@apply
		/* flex
		items-center justify-center
		absolute
		-bottom-0.5
		-right-0.5
		w-3.5 h-3.5
		bg-background-default
		rounded-full
		text-2xs */
}

.currency-display-item .text-container {
	@apply
		flex flex-col
		ml-2
		text-base
		font-primary
		relative
		mr-auto
}

.buy-page .summary-container {
	@apply
		p-4
		bg-background-contrast
		rounded-button
}
.buy-page 
.pay_with{
	width: 100%;
	color: #46403B;
	background-color: #EEEAE6;
}
.buypage_input{
	width: 10vw;
}
.buy_container{
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
.buy_container img{
	margin-left: 90px;
}
.buy_container .currency-display-item{
	width: 50px;
}
.buy_eth_container{
	margin-left: 20px;
}

.buy_eth_container div{
	/* margin-left: 12px; */
	display: flex;
	align-items: center;
	height: 30px;
	background-color:#EEEAE6;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.promo_field input{
	background-color: #EEEAE6;
	width: 100%;
	border: none;
	height: 50px;
	border-radius: 10px;
	color: #46403B;
	font: 1.5rem;
	font-family: Poppins;
	padding: 20px;
}
.recieve{
	height: 50px;
	width: 100%;
	background-color: #EEEAE6;
	border-radius: 10px;
	padding: 12px;
}
.recieve .recieve_inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 900;
}
.recieve_inner div{
	display: flex;
	align-items: center;
}
.recieve img{
	height: 20px;
}

.buywelcomeText{
	margin-left: 30px;
}
.buy-page .card{

}

.agreetoterms{
	display: flex;
}
.agreetoterms input{
	background-color: #EEEAE6;
}
.buy_page_carlossy{
	display: flex;
	justify-content: center;
}

.token_info_buy_page{
	margin-left: 4%;
	flex-wrap: wrap;
	margin-top: 60px;
}

.token_balance_buypage{
	text-align: center;
	background-color: #FCFAF8;
	border-radius: 10px;
	padding: 7px;
}
.token_balance_buypage p{
	color: #7D7975;
	font-size: 0.8rem;
}
.token_balance_buypage h1{
	color:#582900;
	font-size: 1.4rem;
}
.token_info_first{
	display: flex;
	/* justify-content: space-evenly; */
}
.token_info_first div{
	margin: 10px;
}
.token_balance_buypage .contribution_numbers{
	display: flex;
}
.tokenbalancetext{
	margin-bottom: 20px;
}
.midtexttokenfirst{
	margin-bottom: 20px;
}

.presale_info{
	display: flex;
	background-color: #FCFAF9;
	padding: 20px;
	border-radius: 10px;
}

.presale_info_one{
	/* background-color: #FCFAF8; */
	margin-right: 100px;
}
.presale_info_one div{
	margin-top: 8px;
}
.presale_info_two{
	/* background-color: #FCFAF8; */
	margin-top: 50px;
}
.running_info{
	margin-left: 7px;
	background-color: #6A8F1A;
	color: white;
	font-size: 0.4rem;
	padding: 1px;
	border-radius: 10px;
	width: 50px;
	text-align: center;
}
.running_stage_2{
	display: flex;
}
.running_stage_2 p{
	font-weight: 600;
	color: #582900;
}
.info_one_text{
	font-size: 0.9rem;
	color: #7D7975;
}

.presale_info_two div{
	margin-bottom: 10px;
}
.token_price_small{
	display: flex;
}
.token_price_small span{
	font-size: 0.5rem;
}
.presale_progress{
	display: flex;
	background-color: #FCFAF8;
	margin-top: 10px;
	border-radius: 10px;
	padding: 20px;
}
.presale_progress_inner{
	margin-top: 10px;
}
.presale_progress_inner .inner_CARL{
	margin-top: 10px;
}

.inner_CARL div{
	/* display: fle; */
	width: 10px;
	height: 10px;
	/* background-color: red; */
}

.inner_CARL{
	display: flex;
	align-items: center;
	/* justify-content: center; */
}