.banners-container {
	display: none;
	
}

.banner-hidden-clearfix {
	@apply
		invisible
		w-[calc(100%-2rem)]

}

.fixed-banner-wrapper {
	@apply
	w-full
	fixed
	+md:pr-80
}

.banner {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	@apply
		w-full
		relative
		px-2
		bg-primary-dark
		text-primary-contrastText
		text-sm
		py-1
		text-center
		transition-opacity
		pr-8
		w-full
}

.banner:not(.open) {
	opacity: 0;
	pointer-events: none;
	@apply
		fixed
		top-0
		!-translate-y-full
}

.banner .close-button {
	@apply
		absolute
		top-1/2
		right-2
		!-translate-y-1/2
		text-primary-contrastText
		<md:right-0
}